.img1{
    height: 250px;
    margin-left: 200px;

    
}
.div{
    background-color: aqua;
    margin-left: 200px;
    width: 250px;
    height: 220px;
    
}
.ot{
    display: inline-block;
    margin-top: 0px;
    font-size: 25px;
    margin-left: 80px;
    background-color: pink;
}
.bt1{
width: 240px;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 10px;
border-radius: 10px;
background-color: olive;
height: 50px;
}
.bt2{
    width: 240px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(225, 77, 77);
    height: 50px;
}